[submodule "test_collections/aliro/support/aliro-actuator"]
	path = test_collections/aliro/support/aliro_actuator
	url = git@github.com:csa-access-control/aliro-actuator.git
	branch = skipVendorSpecificTag
